*{
    margin: 0;
    padding: 0;
    border: 0;
}

.clear-fix {
    overflow: hidden;
    zoom: 1;
}

.clear{
    clear: both;
}

.hidden{
    display: none;
}

.ib{
  display: inline-block;
}

a{
    text-decoration: none;
    color: rgb(102,102,102);
}

li{
    list-style: none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}